@font-face {
    font-family: 'raleway-extralight';
    src: url('../Content/fonts/raleway-extralight.ttf') format('truetype');
}

body {
    background-color:#E5D6FF;
    font-family:'raleway-extralight';
    overflow-x:hidden;
}

.self-container{
    padding:0 0 50px 0;
}
.logo a{
    color:white;
}
.logo a:hover{
    text-decoration:none;
}
.set-text{
    font-size:50px;
    width:100%;
}
.container-photo{
    margin:20px 0 20px 0;
}
.set-photo{
    max-width:300px;
}
.nav{
    margin-right:15px;
}
.photo-profile{
    max-width:60px; 
    margin-right:5px; 
    max-height:50px;
}
.save-set{
    background-color: #2c2c2b;
    color: white;
    border:none;
}
