body {
    background-color:#E5D6FF;
    font-family:'raleway-extralight';
}
@font-face {
    font-family: 'raleway-extralight';
    src: url('../Content/fonts/raleway-extralight.ttf') format('truetype');
}

.self-container{
    padding: 0 0 50px 0;
}
.logo a{
    color:white;
}
.logo a:hover{
    text-decoration:none;
}
.nav{
    margin-right:15px;
}
